<div class="breadcrumb_wrapper" style="background-image: url('assets/images/new/hakkimizda.png');">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="breadcrumb_inner">
                    <h3>Hakkımızda</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumb_block">
        <ul>
            <li><a routerLink="/">Ana Sayfa</a></li>
            <li>Hakkımızda</li>
        </ul>
    </div>
</div>
<!--About Section-->
<div class="clv_about_wrapper clv_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about_img">
                    <img src="assets/images/new/hakkimizda.png" alt="image" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="about_content">
                    <div class="about_heading">
                        <h2> <span>"Biz Kimiz?"</span></h2>

                    </div>
                    <p>

                        Sitemize hoş geldiniz! Biz, zararlı alışkanlıkların ve bağımlılığın zararlarına dikkat çekmeyi
                        amaçlayan bir ekibiz. Misyonumuz, bireyleri ve toplulukları bu tehlikeli eğilimlerin
                        etkilerinden korumak ve daha sağlıklı yaşam tarzlarını teşvik etmektir.
                    </p>
                    <p>
                        Ekibimiz, zararlı davranışlar ve bağımlılıkla mücadele konusunda çeşitli alanlarda uzmanlaşmış
                        deneyimli profesyonellerden oluşur. Farklı disiplinlerden gelen bu uzmanlar, zararlı
                        alışkanlıkların etkilerini anlamak ve bunlara karşı koymak için kapsamlı bir yaklaşım benimser.
                        Araştırma ve eğitimin yanı sıra, ziyaretçilerimize sağlıklı yaşam tarzlarını teşvik edecek
                        bilgiler ve kaynaklar sunuyoruz.
                    </p>
                    <p></p>
                    <p>
                    Sitemizde, bağımlılığın olumsuz etkileri hakkında rehberler bulabilirsiniz. Ayrıca, zararlı
                    alışkanlıklardan kurtulmanın yollarını ve pratik önerileri paylaşıyoruz. Ekibimiz samimi ve
                    destekleyici bir yaklaşımı benimser. Sorularınızı yanıtlamaktan ve rehberlik sağlamaktan mutluluk
                    duyarız. Bizimle iletişime geçmekten çekinmeyin; birlikte daha sağlıklı bir geleceği inşa
                    edebiliriz.
                    </p>
                    <p></p>
                    <p>
                    Birlikte, zararlı alışkanlıkların ve bağımlılığın üstesinden gelmek için çalışalım. Sizi sitemizde
                    görmekten mutluluk duyarız.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>


<!--Team-->
<div class="clv_team_wrapper clv_section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="clv_heading">
                    <h3>Ekibimiz</h3>
                    <p>Yaratıcılık, tutku ve yenilik.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="team_section">
                    <div class="row justify-content-center">
                        <div class="col-md-4">
                            <div class="team_block">
                                <div class="team_image">
                                    <img src="assets/images/new/man.png" alt="image" style="height: 300px; width: 100%;" />
                                    <div class="social_overlay">
                                        <p>12/B</p>
                                    </div>
                                </div>
                                <div class="team_details">
                                    <div class="team_name">
                                        <h3>Kaan Mengutay</h3>
                                        <p> junior Front-End</p>
                                        <span class="divider"></span>
                                        <a href="javascript:void(0)">kaanmengutay@gmail.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team_block">
                                <div class="team_image">
                                    <img src="assets/images/new/man.png" alt="image" style="height: 300px; width: 100%;" />
                                    <div class="social_overlay">
                                        <p>12/A</p>
                                    </div>
                                </div>
                                <div class="team_details">
                                    <div class="team_name">
                                        <h3>İsmail Ömer Bİlgin</h3>
                                        <p>Front-End developer</p>
                                        <span class="divider"></span>
                                        <a href="javascript:void(0)">ismailomerbılgın@gmail.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>