<div class="breadcrumb_wrapper" style="background-image: url('assets/images/new/kamu-spotu.png');">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="breadcrumb_inner">
                    <h3>Kamu Spotu</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumb_block">
        <ul>
            <li><a routerLink="/">Ana Sayfa</a></li>
            <li>Kamu Spotu</li>
        </ul>
    </div>
</div>


<!--Features-->
<div class="clv_features_wrapper clv_section">
    <div class="container">
        <div class="row justify-content-center" style="row-gap: 30px;">
            <div class="col-md-4 col-lg-4">
                <div class="feature_block">
                    <div class="feature_img">
                        <iframe src="https://www.youtube.com/embed/sY8nttFS2lY?si=IfbU3Vj5KDcPu_3A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>

                    <div class="information">
                        <h3>Alkol Bağımlılığı</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4">
                <div class="feature_block">
                    <div class="feature_img">
                        <iframe src="https://www.youtube.com/embed/gbgDoEPwDnk?si=jXBVYGdKAFBOXM_z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>

                    <div class="information">
                        <h3>Sigara Bağımlılığı</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4">
                <div class="feature_block">
                    <div class="feature_img">
                        <iframe src="https://www.youtube.com/embed/145s3NCuLxc?si=Fc9gucVk0KLqXyWd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>

                    <div class="information">
                        <h3>Madde Bağımlılığı</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4">
                <div class="feature_block">
                    <div class="feature_img">
                        <iframe src="https://www.youtube.com/embed/czmWehLjzG8?si=VfKL77mHAcKbL6UO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>

                    <div class="information">
                        <h3>Teknoloji Bağımlılığı</h3>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-lg-4">
                <div class="feature_block">
                    <div class="feature_img">
                        <iframe src="https://www.youtube.com/embed/oBItW5lP4ls?si=h2CAL09n_Zu3Fb-6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>

                    <div class="information">
                        <h3>Fast Food Bağımlılığı</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4">
                <div class="feature_block">
                    <div class="feature_img">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/mBjyzT8hT0Q?si=Y9ByNtSAkWqnFzbT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>

                    <div class="information">
                        <h3>Alkol Bağımlılığı</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4">
                <div class="feature_block">
                    <div class="feature_img">
                        <iframe src="https://www.youtube.com/embed/bqcq8E6rfPg?si=RBKQKrbygBWGmXh6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>

                    <div class="information">
                        <h3>Sigara Bağımlılığı</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4">
                <div class="feature_block">
                    <div class="feature_img">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/xQcA1bgGo4w?si=LGgCNGmYJoWGClzz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>

                    <div class="information">
                        <h3>Madde Bağımlılığı</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4">
                <div class="feature_block">
                    <div class="feature_img">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/u1NF0apJgTw?si=T5XMlHgs-jwKroFD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>

                    <div class="information">
                        <h3>Teknoloji Bağımlılığı</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4">
                <div class="feature_block">
                    <div class="feature_img">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/P7EX-LWv6k8?si=GYJ-RR120NHP8-W8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>

                    <div class="information">
                        <h3>Fast Food Bağımlılığı</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
