<!--Banner Slider-->
<div class="clv_banner_slider">

    <!-- <video muted autoplay loop>
        <source src="https://blackscriptt.github.io/docs/images/videos/hero2.mp4" type="video/mp4">
    </video> -->
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="clv_slide">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="banner_content">
                                    <div class="clv_slide_inner text-center">
                                        <!-- <h2>Günümüzde</h2> -->
                                        <h1>Bağımlılık kişinin bedensel, ruhsal ve sosyal hayatını olumsuz etkiler.</h1>
                                        <p style="line-height: 34px;">Türkiye’de ve dünyada hızla tütün, alkol ve uyuşturucu madde alım oranları artmakta, maddeye başlama yaşları gittikçe düşmektedir. Diğer bağımlılıklar gibi teknoloji ve kumar bağımlılığı da kişiye, aileye ve topluma psikolojik, sosyolojik ve ekonomik zararlara yol açmaktadır.
                                        </p>
                                        <!-- <a href="javascript:;" class="clv_btn">read more</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<!--Bagimlilik Nedir-->
<div class="coffee_about_wrapper clv_section" style="background-image: none;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="coffee_about_image"><img src="assets/images/new/bagimlilik-nedir.jpeg" alt="image" /></div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="coffee_about_content">
                    <!-- <h6>Bağımlılık</h6> -->
                    <h5>Bağımlılık Nedir?</h5>
                    <p>Bağımlılık, bir madde veya davranışa karşı kontrolsüz bir istek ve bağlılık durumudur. Bu durum, kişinin yaşamını olumsuz etkileyebilir ve fiziksel, zihinsel veya sosyal sorunlara yol açabilir. Bağımlılıkla başa çıkmak için profesyonel destek ve tedavi gerekebilir.</p>
                    <!-- <a href="javascript:;">read more</a> -->
                    <!-- <img src="assets/images/coffee_bag2.png" alt="image" /> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!--Counter Section-->
<div class="clv_counter_wrapper clv_section" style="background-image: url('assets/images/new/earth.jpg');background-attachment: fixed;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="clv_heading white_heading">
                    <h3>Bağımlılık Oranı</h3>
                    <!-- <div class="clv_underline"><img src="assets/images/coffee_underline.png" alt="image" /></div> -->
                    <p>Geçim sıkıntısı, aile içi şiddet ve akran zorbalığı yüzünden her yıl bağımlılık oranı ciddi bir şekilde artmaktadır.</p>
                </div>
            </div>
        </div>
        <div class="counter_section">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="counter_block">
                        <div class="counter_img">
                            <span class="red_bg"><i class="fa-solid fa-champagne-glasses"></i></span>
                        </div>
                        <div class="counter_text">
                            <h4><span class="count_no" data-to="26" data-speed="3000">33</span><span>%</span>
                            </h4>
                            <h5>Alkol Bağımlılığı</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="counter_block">
                        <div class="counter_img">
                            <span class="yellow_bg"><i class="fa-solid fa-pills"></i></span>
                        </div>
                        <div class="counter_text">
                            <h4><span class="count_no" data-to="700" data-speed="3000">12</span><span>%</span>
                            </h4>
                            <h5>Madde Bağımlılığı</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="counter_block">
                        <div class="counter_img">
                            <span class="orange_bg"><i class="fa-solid fa-smoking"></i></span>
                        </div>
                        <div class="counter_text">
                            <h4><span class="count_no" data-to="200" data-speed="3000">60</span><span>%</span>
                            </h4>
                            <h5>Sigara Bağımlılığı</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="counter_block">
                        <div class="counter_img">
                            <span class="blue_bg"><i class="fa-solid fa-computer"></i></span>
                        </div>
                        <div class="counter_text">
                            <h4><span class="count_no" data-to="6" data-speed="3000">40</span><span>%</span>
                            </h4>
                            <h5>Teknoloji Bağımlılığı</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Services-->
<div class="coffee_service_wrapper clv_section" style="background-image: none;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="coffee_service_content">
                    <h6>Başlama Adımları</h6>
                    <h5>Bağımlılık Döngüsü</h5>
                    <p class="mb_4">Kişi ilk olarak merak ve korku duygusu ile kullanımı denemek isteyebilir. Merakla birlikte bir kereden bir şey olmaz düşüncesi ile kullanım gerçekleşir. Bağımlılık beyinde dopamin adlı nörotransmiteri etkilemektedir. Dopamin; düşünce, his, motivasyon, hareket, dikkat ve karar verme gibi birçok temel fonksiyonel süreçte yer alır.</p>
                    <p>
                        Bağımlılığın ruhsal ve davranışsal yönleri olduğu da gözden kaçırılmamalıdır. Örneğin bu yönler alkol etkisinde veya alkolün etkisi geçtiğinde ortaya çıkabilmektedir.
                    </p>
                    <!-- <div class="coffee_service_section">
                        <h3>the best</h3>
                        <h4>coffee services</h4>
                        <div class="coffee_service_block">
                            <div class="service_icon">
                                <span><img src="assets/images/coffee_icon1.png" alt="image" /></span>
                                <h3>coffee maker</h3>
                            </div>
                            <div class="service_icon">
                                <span><img src="assets/images/coffee_icon2.png" alt="image" /></span>
                                <h3>coffee cup</h3>
                            </div>
                            <div class="service_icon">
                                <span><img src="assets/images/coffee_icon3.png" alt="image" /></span>
                                <h3>coffee grinder</h3>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="coffee_service_image">
                    <img src="assets/images/new/alkol-bagimliligi-chart-tr.png" alt="image" />
                </div>
            </div>
        </div>
    </div>
</div>

<!--Team-->
<div class="dairy_team_wrapper clv_section" style="background-image: url('assets/images/new/bagimlilik.jpg');">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="clv_heading white_heading">
                    <h3>Bağımlılıklar</h3>
                    <!-- <div class="clv_underline"><img src="assets/images/coffee_underline.png" alt="image" /></div> -->
                    <p>Bağımlılık, bireyin fiziksel, zihinsel veya duygusal olarak bir maddeye, davranışa veya aktiviteye olan bağlılığı ve kontrolünü kaybetmesi durumunu ifade eder. İşte bazı yaygın bağımlılık çeşitleri:</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="dairy_team_slider">
                    <div class="swiper-container swiper-blog">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="team_slide">
                                    <div class="team_image">
                                        <img src="assets/images/new/alkol.jpg" alt="image" class="img-fluid" />
                                    </div>
                                    <a routerLink="/alkol" class="coffee_team_details">
                                        <span class="call_icon">
                                            <i class="fa-solid fa-chevron-up"></i>
                                        </span>
                                        <h3 style="white-space: nowrap;">Alkol Bağımlılığı</h3>
                                        <p>.</p>
                                    </a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="team_slide">
                                    <div class="team_image">
                                        <img src="assets/images/new/madde.jpg" alt="image" class="img-fluid" />
                                    </div>
                                    <a routerLink="/madde" class="coffee_team_details">
                                        <span class="call_icon">
                                            <i class="fa-solid fa-chevron-up"></i>
                                        </span>
                                        <h3 style="white-space: nowrap;">Madde Bağımlılığı</h3>
                                        <p>.</p>
                                    </a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="team_slide">
                                    <div class="team_image">
                                        <img src="assets/images/new/sigara.jpg" alt="image" class="img-fluid" />
                                    </div>
                                    <a routerLink="/sigara" class="coffee_team_details">
                                        <span class="call_icon">
                                            <i class="fa-solid fa-chevron-up"></i>
                                        </span>
                                        <h3 style="white-space: nowrap;">Sigara Bağımlılığı</h3>
                                        <p>.</p>
                                    </a>
                                </div>
                            </div>

                            
                            <div class="swiper-slide">
                                <div class="team_slide">
                                    <div class="team_image">
                                        <img src="assets/images/new/teknoloji.jpg" alt="image" class="img-fluid" />
                                    </div>
                                    <a routerLink="/teknoloji" class="coffee_team_details">
                                        <span class="call_icon">
                                            <i class="fa-solid fa-chevron-up"></i>
                                        </span>
                                        <h3 style="white-space: nowrap;">Teknoloji Bağımlılığı</h3>
                                        <p>.</p>
                                    </a>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="team_slide">
                                    <div class="team_image">
                                        <img src="assets/images/new/fast-food.jpg" alt="image" class="img-fluid" />
                                    </div>
                                    <a routerLink="/fast-food" class="coffee_team_details">
                                        <span class="call_icon">
                                            <i class="fa-solid fa-chevron-up"></i>
                                        </span>
                                        <h3 style="white-space: nowrap;">Fast Food Bağımlılığı</h3>
                                        <p>.</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <span class="slider_arrow team_left left_arrow left1">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="10px" height="20px">
                            <path fill-rule="evenodd" fill="rgb(226, 226, 226)"
                                d="M0.272,10.703 L8.434,19.703 C8.792,20.095 9.372,20.095 9.731,19.703 C10.089,19.308 10.089,18.668 9.731,18.274 L2.217,9.990 L9.730,1.706 C10.089,1.310 10.089,0.672 9.730,0.277 C9.372,-0.118 8.791,-0.118 8.433,0.277 L0.271,9.274 C-0.082,9.666 -0.082,10.315 0.272,10.703 Z" />
                        </svg>
                    </span>
                    <span class="slider_arrow team_right right_arrow right1">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="10px" height="20px">
                            <path fill-rule="evenodd" fill="rgb(226, 226, 226)"
                                d="M9.728,10.703 L1.566,19.703 C1.208,20.095 0.627,20.095 0.268,19.703 C-0.090,19.308 -0.090,18.668 0.268,18.274 L7.783,9.990 L0.269,1.706 C-0.089,1.310 -0.089,0.672 0.269,0.277 C0.627,-0.118 1.209,-0.118 1.567,0.277 L9.729,9.274 C10.081,9.666 10.081,10.315 9.728,10.703 Z" />
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Partner-->
<div class="clv_partner_wrapper clv_section" style="background-image: none;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="partner_slider">
                    <div class="swiper-container yesilayvideo">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="partner_slide">
                                    <div class="partner_image">
                                        <iframe src="https://www.youtube.com/embed/sY8nttFS2lY?si=2_a1JqUcYyAKhoHW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="partner_slide">
                                    <div class="partner_image">
                                        <iframe src="https://www.youtube.com/embed/gbgDoEPwDnk?si=jXBVYGdKAFBOXM_z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="partner_slide">
                                    <div class="partner_image">
                                        <iframe src="https://www.youtube.com/embed/145s3NCuLxc?si=Fc9gucVk0KLqXyWd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="partner_slide">
                                    <div class="partner_image">
                                        <iframe src="https://www.youtube.com/embed/czmWehLjzG8?si=VfKL77mHAcKbL6UO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="partner_slide">
                                    <div class="partner_image">
                                        <iframe src="https://www.youtube.com/embed/oBItW5lP4ls?si=h2CAL09n_Zu3Fb-6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <!-- Add Arrows -->
                    <span class="slider_arrow team_left left_arrow left2">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="10px" height="20px">
                            <path fill-rule="evenodd" fill="rgb(226, 226, 226)"
                                d="M0.272,10.703 L8.434,19.703 C8.792,20.095 9.372,20.095 9.731,19.703 C10.089,19.308 10.089,18.668 9.731,18.274 L2.217,9.990 L9.730,1.706 C10.089,1.310 10.089,0.672 9.730,0.277 C9.372,-0.118 8.791,-0.118 8.433,0.277 L0.271,9.274 C-0.082,9.666 -0.082,10.315 0.272,10.703 Z" />
                        </svg>
                    </span>
                    <span class="slider_arrow team_right right_arrow right2">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="10px" height="20px">
                            <path fill-rule="evenodd" fill="rgb(226, 226, 226)"
                                d="M9.728,10.703 L1.566,19.703 C1.208,20.095 0.627,20.095 0.268,19.703 C-0.090,19.308 -0.090,18.668 0.268,18.274 L7.783,9.990 L0.269,1.706 C-0.089,1.310 -0.089,0.672 0.269,0.277 C0.627,-0.118 1.209,-0.118 1.567,0.277 L9.729,9.274 C10.081,9.666 10.081,10.315 9.728,10.703 Z" />
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


