<div class="breadcrumb_wrapper" style="background-image: url('assets/images/new/bagimlilik.jpg');">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="breadcrumb_inner">
                    <h3>Bağımlılıklar</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumb_block">
        <ul>
            <li><a routerLink="/">Ana Sayfa</a></li>
            <li>Bağımlılıklar</li>
        </ul>
    </div>
</div>

<!--Features-->
<div class="clv_features_wrapper clv_section">
    <div class="container">
        <div class="row justify-content-center" style="row-gap: 30px;">
            <div class="col-md-4 col-lg-4">
                <div class="feature_block">
                    <div class="feature_img">
                        <img src="assets/images/new/alkol.jpg"
                            alt="image" />
                    </div>

                    <div class="information">
                        <h3>Alkol Bağımlılığı</h3>
                        <p>Alkol bağımlılığı, karaciğer hastalığı, beyin hasarı ve aile ilişkilerinin bozulması gibi ciddi fiziksel ve duygusal zararlar verebilir.</p>
                        <a routerLink="/alkol" class="clv_btn">Detaylı Bilgi</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4">
                <div class="feature_block">
                    <div class="feature_img">
                        <img src="assets/images/new/sigara.jpg"
                            alt="image" />
                    </div>
                    <div class="information">
                        <h3>Sigara Bağımlılığı</h3>
                        <p>Sigara, akciğer kanseri ve kalp hastalıkları riskini artırarak sağlığı tehlikeye sokar ve
                            yaşam kalitesini düşürür.</p>
                        <a routerLink="/sigara" class="clv_btn">Detaylı Bilgi</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4">
                <div class="feature_block">
                    <div class="feature_img">
                        <img src="assets/images/new/madde.jpg" alt="image" />
                    </div>
                    <div class="information">
                        <h3>Madde Bağımlılığı</h3>
                        <p>Madde bağımlılığı, beyin fonksiyonlarını bozarak fiziksel, duygusal ve sosyal sağlık üzerinde ciddi olumsuz etkilere yol açar.
                        </p>
                        <a routerLink="/madde" class="clv_btn">Detaylı Bilgi</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4">
                <div class="feature_block">
                    <div class="feature_img">
                        <img src="assets/images/new/sigara.jpg" alt="image" />
                    </div>
                    <div class="information">
                        <h3>Teknoloji Bağımlılığı</h3>
                        <p>Teknoloji bağımlılığı, sosyal etkileşimi azaltarak uyku bozukluklarına, konsantrasyon sorunlarına ve ilişkilerde zayıflamaya yol açabilir.</p>
                        <a routerLink="/teknoloji" class="clv_btn">Detaylı Bilgi</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4">
                <div class="feature_block">
                    <div class="feature_img">
                        <img src="assets/images/new/fast-food.jpg" alt="image" />
                    </div>
                    <div class="information">
                        <h3>Fast Food Bağımlılığı</h3>
                        <p>Fast-food bağımlılığı, sağlıksız kilo alımına, yüksek kolesterole ve kronik hastalıklara neden olarak genel sağlığı ciddi şekilde tehdit edebilir.</p>
                        <a routerLink="/fast-food" class="clv_btn">Detaylı Bilgi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>