.feature_block {
    padding: 0;
    overflow: hidden;
}

.feature_img {
    height: 250px;
}

.feature_img > img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.feature_block .information {
    padding: 20px;
}