<!--Footer-->
<div class="clv_footer_wrapper clv_section" style="background-image: none;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-3">
                <div class="footer_block">
                    <div class="footer_logo"><a href="javascript:void(0);"><img width="75px" src="assets/logo.png"
                                alt="image" /></a></div>

                </div>
            </div>
            
            <div class="col-md-3 col-lg-3">
                <div class="footer_block">
                    <div class="footer_heading">
                        <h4>Linkler</h4>
                    </div>
                    <ul class="useful_links">
                        <li><a routerLink="/"><span><i class="fa fa-angle-right"
                                        aria-hidden="true"></i></span>Ana Sayfa</a></li>
                        <li><a routerLink="/bagimlilik"><span><i class="fa fa-angle-right"
                                        aria-hidden="true"></i></span>Bağımlılıklar</a></li>
                        <li><a routerLink="/hakkimizda"><span><i class="fa fa-angle-right"
                                        aria-hidden="true"></i></span>Hakkımızda</a></li>
                        <li><a href="https://turktelekomatl.meb.k12.tr/" target="_blank"><span><i class="fa fa-angle-right"
                                        aria-hidden="true"></i></span>Okulumuz</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-lg-3">
                <div class="footer_block">
                    <div class="footer_heading">
                        <h4>Bağımlılıklar</h4>
                    </div>
                    <ul class="useful_links">
                        <li><a routerLink="/alkol"><span><i class="fa fa-angle-right"
                                        aria-hidden="true"></i></span>Alkol Bağımlılığı</a></li>
                        <li><a routerLink="/sigara"><span><i class="fa fa-angle-right"
                                        aria-hidden="true"></i></span>Sigara Bağımlılığı</a></li>
                        <li><a routerLink="/madde"><span><i class="fa fa-angle-right"
                                        aria-hidden="true"></i></span>Madde Bağımlılığı</a></li>
                        <li><a routerLink="/teknoloji"><span><i class="fa fa-angle-right"
                                        aria-hidden="true"></i></span>Teknoloji Bağımlılığı</a></li>
                        <li><a routerLink="/fast-food"><span><i class="fa fa-angle-right"
                                        aria-hidden="true"></i></span>Fast Food Bağımlılığı</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-lg-3">
                <div class="footer_block">
                    <div class="footer_heading">
                        <h4>Okulumuz</h4>
                    </div>
                    <div class="footer_post_section">
                        <div class="footer_post_slide">
                            <span><i class="fas fa-share"></i></span>
                            <div class="blog_links">
                                <p>Tanıtım Filmi</p>
                                <a href="https://www.youtube.com/watch?v=WcVEkaHSCVc&ab_channel=PendikTürkTelekomŞehitMuratMertelMTAL" target="_blank">https://tls.tc/Heid6</a>
                            </div>
                        </div>
                        <div class="footer_post_slide">
                            <span><i class="fas fa-share"></i></span>
                            <div class="blog_links">
                                <p>Tarhiçesi</p>
                                <a href="https://turktelekomatl.meb.k12.tr/icerikler/tarihce_14704093.html" target="_blank">https://tls.tc/NBJ1a
                                </a>
                            </div>
                        </div>
                        <div class="footer_post_slide">
                            <span><i class="fas fa-share"></i></span>
                            <div class="blog_links">
                                <p>Hakkında</p>
                                <a href="https://turktelekomatl.meb.k12.tr/34/16/966049/okulumuz_hakkinda.html" target="_blank">https://tls.tc/3vHGh</a>
                            </div>
                        </div>
                        <div class="footer_post_slide">
                            <span><i class="fas fa-share"></i></span>
                            <div class="blog_links">
                                <p>Vizyonumuz</p>
                                <a href="https://turktelekomatl.meb.k12.tr/meb_iys_dosyalar/34/16/966049/dosyalar/2024_04/16121528_vizyon.pdf?CHK=77f2cc6dfdaa3f488c20e71625dca1e8?KeepThis=true&width=60&height=75&" target="_blank">https://tls.tc/6tj3L</a>
                            </div>
                        </div>
                        <div class="footer_post_slide">
                            <span><i class="fas fa-share"></i></span>
                            <div class="blog_links">
                                <p>Misyonumuz</p>
                                <a href="https://turktelekomatl.meb.k12.tr/meb_iys_dosyalar/34/16/966049/dosyalar/2024_04/16121624_misyonumuz.pdf?CHK=77f2cc6dfdaa3f488c20e71625dca1e8?KeepThis=true&width=60&height=75&" target="_blank">https://tls.tc/BcCC4</a>
                            </div>
                        </div>
                        <div class="footer_post_slide">
                            <span><i class="fas fa-share"></i></span>
                            <div class="blog_links">
                                <p>Mesleki Bölüm</p>
                                <a href="https://turktelekomatl.meb.k12.tr/meb_iys_dosyalar/34/16/966049/icerikler/bilisim-teknolojileri-alani-web-programciligi-bolumu_3565078.html?CHK=77f2cc6dfdaa3f488c20e71625dca1e8" target="_blank">https://tls.tc/KG54r</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Copyright-->
<div class="clv_copyright_wrapper">
    <p>copyright &copy; 2024 <a href="https://turktelekomatl.meb.k12.tr/" target="_blank">TTMAL.</a> all right reserved.</p>
</div>